.text-brand {
  color: var(--brand-color-normal);
}

.text-brand-dark {
    color: var(--brand-color-normal-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
