:root {
    --color-dark: #31261A;
    --color-light: #FAF4EA;
    --brand-color-normal: #819B57;
    --brand-color: #cfccbc;
    --brand-color-normal-dark: #465929;
    --secondary-color-dark: #A18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px; 