.advantages-section {
  padding: 16px 0;

  @media screen and (min-width: $bp-tablet) {
    background-color: var(--brand-color-normal);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    border-radius: 24px;
    background-color: var(--brand-color);

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      background-color: transparent;
      padding: 0;
    }
  }

  &__item {
    font-weight: 300;
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
      color: var(--color-light);
    }
  }
}
